*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.ingredients ul,
.prepar,
.bienfaits ul {
  transition: opacity 0.3s ease;
}



.ingredients{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
}
.type{
    font-family: 'Bebas Neue, sans serifs';
    font-size: 20px;
    margin: 10px 0;
    text-transform: uppercase;
}
.preparation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px ;
}
.prepar{
    list-style: none;
    
}
ol>li{
    display: flex;
    align-items: center;
}

.orderlist{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #32de8a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px ;
}